@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  width: 100%;
  font-family: "Barlow", sans-serif;
}

.header {
  background-color: #3DBEFF;
  height: 44.45em;
  background-image: url(../images/desktop/image-header.jpg);
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.header .container-header {
  width: 94%;
  height: 100%;
  margin: auto;
}

.header .container-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15.5%;
}

.header .container-header .menu img {
  width: 8em;
}

.header .container-header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container-header .menu ul li {
  list-style: none;
  padding: 1.4em;
}

.header .container-header .menu ul li:last-child {
  padding-right: 0em;
}

.header .container-header .menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 0.98em;
}

.header .container-header .menu ul li #contact {
  padding: 1.1em 1.85em;
  font-family: "Fraunces", serif;
  font-size: 0.9em;
  font-weight: 900;
  background-color: white;
  border-radius: 2em;
  color: #23303e;
  letter-spacing: -0.06em;
}

.header .container-header .menu ul li #contact:hover {
  background-color: #85D7FF;
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .container-header .principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 84.5%;
  position: relative;
}

.header .container-header .principal .title {
  margin-top: 1.35em;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.19em;
  color: white;
}

.header .container-header .principal .image-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container-header .principal .image-header #arrow-down {
  margin-top: 5.2em;
}

.main {
  background-color: #fcfcfc;
}

.main .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.main .grid-container .image-transform {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.main .grid-container .image-transform img {
  width: 100%;
  height: 100%;
}

.main .grid-container .text-transform {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: auto;
}

.main .grid-container .text-transform .title-grid {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
  font-size: 2.3em;
  margin-bottom: 1em;
}

.main .grid-container .text-transform .text-grid {
  color: #23303e;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.6em;
  margin-bottom: 2em;
}

.main .grid-container .text-transform .learn-more {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
  text-decoration: none;
  font-size: 0.9em;
  text-align: start;
  text-transform: uppercase;
  position: relative;
  margin-left: 0.7em;
}

.main .grid-container .text-transform .learn-more::after {
  content: '';
  bottom: -3px;
  left: -4px;
  width: 120px;
  border: 5px solid rgba(255, 226, 61, 0.37);
  border-radius: 1em;
  position: absolute;
}

.main .grid-container .image-stand-out {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.main .grid-container .image-stand-out img {
  width: 100%;
  height: 100%;
}

.main .grid-container .text-stand-out {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: auto;
}

.main .grid-container .text-stand-out .title-grid {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
  font-size: 2.3em;
  margin-bottom: 1em;
}

.main .grid-container .text-stand-out .text-grid {
  color: #23303e;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.6em;
  margin-bottom: 2em;
  width: 90%;
}

.main .grid-container .text-stand-out .learn-more {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
  text-decoration: none;
  font-size: 0.9em;
  text-align: start;
  text-transform: uppercase;
  position: relative;
  margin-left: 0.7em;
}

.main .grid-container .text-stand-out .learn-more::after {
  content: '';
  bottom: -3px;
  left: -4px;
  width: 120px;
  border: 5px solid rgba(254, 120, 103, 0.37);
  border-radius: 1em;
  position: absolute;
}

.main .grid-container .graphic-design {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.main .grid-container .graphic-design .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 60%;
  margin: auto;
}

.main .grid-container .graphic-design .text .title-grid {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #25564b;
  font-size: 1.6em;
  margin: 12em 0 1.2em 0;
  text-align: center;
}

.main .grid-container .graphic-design .text .text-grid {
  color: #458c7e;
  font-size: 0.85em;
  font-weight: 600;
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 2em;
  width: 85%;
}

.main .grid-container .photography {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  background-image: url(../images/desktop/image-photography.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.main .grid-container .photography .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 60%;
  margin: auto;
}

.main .grid-container .photography .text .title-grid {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #19536b;
  font-size: 1.6em;
  margin: 12em 0 1.2em 0;
}

.main .grid-container .photography .text .text-grid {
  color: #19536b;
  font-size: 0.85em;
  font-weight: 600;
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 2em;
  width: 85%;
}

.main .client-testimonials .client-testimonials-container {
  width: 78%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .client-testimonials .client-testimonials-container h2 {
  margin: 7.5em 0 2em 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.17em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #a7abae;
  text-align: center;
}

.main .client-testimonials .client-testimonials-container .box-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .client-testimonials .client-testimonials-container .box-testimonials .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.2em 1em 5.2em 1em;
}

.main .client-testimonials .client-testimonials-container .box-testimonials .client img {
  height: 17.7%;
  border-radius: 50%;
}

.main .client-testimonials .client-testimonials-container .box-testimonials .client .text-testimonials {
  color: #23303e;
  font-weight: 600;
  line-height: 1.7em;
  font-size: 1.03em;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 3em 0;
}

.main .client-testimonials .client-testimonials-container .box-testimonials .client .client-name {
  color: #23303e;
  font-family: "Fraunces", serif;
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  margin: 0.7em 0;
}

.main .client-testimonials .client-testimonials-container .box-testimonials .client .client-charge {
  color: #23303e;
  font-size: 0.8em;
}

.main .images-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .images-style .box-image {
  width: 25%;
}

.main .images-style .box-image img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #90D4C5;
}

.footer .container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  margin: auto;
}

.footer .container-footer img {
  margin-top: 4em;
  width: 50%;
  color: #25564b;
}

.footer .container-footer .menu {
  margin: 2.4em 0 4.7em 0;
  width: 100%;
}

.footer .container-footer .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .container-footer .menu ul li {
  list-style: none;
}

.footer .container-footer .menu ul li a {
  text-decoration: none;
  color: #458c7e;
  font-size: 1em;
  font-weight: 600;
}

.footer .container-footer .menu ul li a:hover {
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .container-footer .social-media {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container-footer .social-media a {
  text-decoration: none;
  color: #458c7e;
  font-weight: 600;
  margin-bottom: 4em;
}

.footer .container-footer .social-media a:hover {
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 500px) {
  .header {
    height: 30em;
  }
  .header .container-header .principal .title {
    font-size: 1.6em;
  }
  .main .client-testimonials .client-testimonials-container h2 {
    font-size: 0.9em;
  }
  .main .client-testimonials .client-testimonials-container .box-testimonials .client {
    padding: 2.2em 1em 1.5em 1em;
  }
  .main .client-testimonials .client-testimonials-container .box-testimonials .client .text-testimonials {
    margin: 0.9em 0;
  }
}

@media (max-width: 800px) {
  .header .container-header {
    width: 85%;
  }
  .header .container-header .menu nav {
    display: none;
  }
}

@media (max-width: 1300px) {
  .main .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .grid-container .text-transform {
    margin: 8em auto;
    width: 70%;
  }
  .main .grid-container .text-stand-out {
    margin: 8em auto;
  }
  .main .grid-container .graphic-design {
    background-size: cover;
    background-position: center center;
  }
  .main .grid-container .photography {
    background-size: cover;
    background-position: center top;
  }
  .main .client-testimonials .client-testimonials-container h2 {
    margin: 2.5em 0 2em 0;
  }
  .main .client-testimonials .client-testimonials-container .box-testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container-footer {
    width: 100%;
  }
  .footer .container-footer img {
    margin-top: 4em;
    width: 10em;
    color: #25564b;
  }
}
/*# sourceMappingURL=main.css.map */