@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --color-primary: hsl(257, 40%, 49%);
  --color-secondary: hsl(300, 69%, 71%);
  --color-text: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
}

.main {
  height: 100%;
  width: 100%;
}

.background {
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--color-primary);
  height: 100%;
  width: 100%;
  position: absolute;
}

.container {
  position: relative;
  height: 100%;
  width: 80%;
  margin: auto;
}

.header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.header .logo {
  margin-top: 1em;
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40%;
  width: 43%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 75%;
  margin-top: 2.2em;
}

.content .illustration {
  display: flex;
  justify-content: center;
}

.content .illustration img {
  width: 100%;
  max-width: 400px;
  margin-top: 0.5em;
}

.content .text {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  margin-top: 3.5em;
}

.content .text h1 {
  font-size: 1.5em;
  line-height: 1.6em;
  letter-spacing: 0.02em;
  text-align: center;
}

.content .text p {
  line-height: 1.5em;
  margin-top: 1em;
  text-align: center;
  font-size: 1em;
}

.content .text .btn-register {
  font-size: 0.8em;
  margin-top: 1.5em;
  width: 190px;
  height: 38px;
  background-color: var(--color-text);
  border-radius: 2em;
  border: none;
  color: var(--color-primary);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.267);
  cursor: pointer;
}

.content .text .btn-register:hover {
  transition: all 0.5s ease;
  color: white;
  background-color: var(--color-secondary);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.466);
}

.footer {
  height: 10%;
  width: 150px;
  margin: auto;
}

.footer .icons-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .icons-wrapper .icon {
  border: 1px solid var(--color-text);
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer .icons-wrapper .icon:hover {
  border: 1px solid var(--color-secondary);
  transition: all 0.3s ease;
}

.footer .icons-wrapper .icon a {
  color: var(--color-text);
  text-decoration: none;
}

.footer .icons-wrapper .icon a:hover {
  color: var(--color-secondary);
  transition: all 0.3s ease;
}

/* MEDIA QUERY */

@media (max-width: 270px) {
  .content .text p {
    font-size: 0.8em;
  }

  .content .text .btn-register {
    width: 140px;
  }
}

@media (min-width: 790px) {
  .background {
    background-image: url(images/bg-desktop.svg);
    background-repeat: repeat;
  }
}

@media  (min-width: 1000px) {
  .container {
    width: 88%;
  }
  
  .header {
    height: 20%;
  }

  .header .logo {
    height: 30%;
  }

  .content {
    height: 65%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .content .illustration {
    justify-content: flex-start;
  }

  .content .illustration img {
    width: 100%;
    max-width: 1100px;
    margin-top: 3em;
  }

  .content .text {
    width: 38%;
    align-items: flex-start;
    margin-top: -4em;
    margin-left: 3em;
  }

  .content .text h1 {
    font-size: 2.2em;
    text-align: start;
  }

  .content .text p {
    text-align: start;
  }

  .content .text .btn-register  {
    font-size: 0.9em;
    width: 170px;
    height: 50px;
  }

  .footer {
    margin-right: 0;
  }
}

@media (max-width: 1320px) {
  .background {
    background-size: cover;
  }
}